In [8]:
import pandas as pd
import math
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import metrics
import numpy as np

In [3]:
data = pd.read_csv('American_Housing_Data_20231209.csv')

In [4]:
data

,Zip Code,Price,Beds,Baths,Living Space,Address,City,State,Zip Code Population,Zip Code Density,County,Median Household Income,Latitude,Longitude
0,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
1,10013,3999000.0,2,3,1967,74 GRAND ST APT 3,New York,New York,29563,20967.9,New York,370046.0,40.72001,-74.00472
2,10014,1650000.0,1,1,718,140 CHARLES ST APT 4D,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
3,10014,760000.0,3,2,1538,38 JONES ST,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
4,10014,1100000.0,1,1,600,81 BEDFORD ST APT 3F,New York,New York,29815,23740.9,New York,249880.0,40.73407,-74.00601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39976,98199,2495000.0,4,4,3380,2626 27TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39977,98199,2295000.0,4,4,2878,3215 32ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39978,98199,950000.0,3,2,1380,3257 22ND AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39979,98199,425000.0,2,1,856,3711 26TH PL W APT 102,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223
39980,98199,1150000.0,3,3,2840,2911 25TH AVE W,Seattle,Washington,22890,2086.8,King,205611.0,47.65139,-122.40223

In [19]:
data_clean = data.drop(columns = ['Address', 'City', 'State', 'County'], axis = 1)
data_clean = data_clean.dropna()
corr_matrix=data_clean.corr()
corr_matrix

,Zip Code,Price,Beds,Baths,Living Space,Zip Code Population,Zip Code Density,Median Household Income,Latitude,Longitude
Zip Code,1.000000,0.110933,0.014709,0.004518,0.032529,-0.024427,-0.105471,0.148406,-0.050246,-0.940078
Price,0.110933,1.000000,0.277091,0.462084,0.520572,-0.042940,0.152542,0.416785,-0.058834,-0.168269
Beds,0.014709,0.277091,1.000000,0.703419,0.655092,0.069480,-0.131857,0.014459,-0.051658,0.006834
Baths,0.004518,0.462084,0.703419,1.000000,0.769080,0.002036,-0.068135,0.226429,-0.101373,0.000735
Living Space,0.032529,0.520572,0.655092,0.769080,1.000000,-0.042931,-0.103697,0.222995,-0.062541,-0.011142
Zip Code Population,-0.024427,-0.042940,0.069480,0.002036,-0.042931,1.000000,0.112240,-0.125361,-0.083705,-0.019405
Zip Code Density,-0.105471,0.152542,-0.131857,-0.068135,-0.103697,0.112240,1.000000,0.175198,0.184316,0.021734
Median Household Income,0.148406,0.416785,0.014459,0.226429,0.222995,-0.125361,0.175198,1.000000,0.047571,-0.220311
Latitude,-0.050246,-0.058834,-0.051658,-0.101373,-0.062541,-0.083705,0.184316,0.047571,1.000000,-0.046177
Longitude,-0.940078,-0.168269,0.006834,0.000735,-0.011142,-0.019405,0.021734,-0.220311,-0.046177,1.000000

In [20]:
X = sm.add_constant(data_clean['Baths'])
y = data_clean['Price']

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.214
Model:                            OLS   Adj. R-squared:                  0.214
Method:                 Least Squares   F-statistic:                 1.085e+04
Date:                Sun, 31 Mar 2024   Prob (F-statistic):               0.00
Time:                        14:13:27   Log-Likelihood:            -6.0208e+05
No. Observations:               39979   AIC:                         1.204e+06
Df Residuals:                   39977   BIC:                         1.204e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -1.93e+05   8886.050    -21.721      0.000    -2.1e+05   -1.76e+05
Baths       3.307e+05   3174.777    104.180      0.000    3.25e+05    3.37e+05
==============================================================================
Omnibus:                    71892.600   Durbin-Watson:                   1.350
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        202120718.745
Skew:                          12.836   Prob(JB):                         0.00
Kurtosis:                     350.386   Cond. No.                         6.52
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.